<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/table-format.css" rel="stylesheet">
</head>
<body>
<h3 th:text="'Hello, ' + ${firstName} + '!'"/>

<br/>
<h4 th:if="${message != null}" th:text="${message}"/>
<br/>
<form th:action="@{/logout}" method="post">
    <input class="btn btn-primary" type="submit" value="Log Out"/>
</form>
<br/>
<div th:if="${file != null}">
    <center>
        <table class="blueTable">
            <thead>
            <tr>
                <th>File Name</th>
                <th>Creation Time</th>
                <th>Last Modified</th>
                <th>Description</th>
                <th>User First Name</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fileInfo : ${file}">
                <td th:text="${fileInfo.fileName}"></td>
                <td th:text="${#dates.format(fileInfo.fileCreationTimestamp, 'yyyy-MM-dd hh:mm a')}"></td>
                <td th:text="${#dates.format(fileInfo.fileUpdateTimestamp, 'yyyy-MM-dd hh:mm a')}"></td>
                <td th:text="${fileInfo.description}"></td>
                <td th:text="${fileInfo.userFirstName}"></td>
                <td>
                    <form method="post" th:action="@{/deleteAdminFile}">
                        <!--<input type="hidden" name="hiddenUserId" value="${userId}">-->
                        <!--<input type="hidden" name="hiddenFileName" value="${fileInfo.fileName}"/>-->
                        <input type="hidden" name="hiddenUserId" th:value="${fileInfo.userId}">
                        <input type="hidden" name="hiddenFileName" th:value="${fileInfo.fileName}"/>
                        <button type="submit" class="btn btn-primary btn-block">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>

</body>
</html>