<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Admin Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/table-format.css" rel="stylesheet">
</head>
<body style="padding:10px;   background-color: #f5f5f5;">

<div th:if="${delete_message != null}" th:class="${'alert '+ alertClass}" role="alert"
     th:text="${delete_message}">
    <!--<strong>Well done!</strong> You successfully read this important alert message.-->
</div>

<form th:action="@{/logout}" method="post">
    <input class="btn btn-primary float-right" type="submit" value="Log Out"/>
</form>
<h3 th:text="'Hello, ' + ${firstName} + '!'"/>

<br/>
<div th:if="${message != null}" th:text="${message}" align="center"/>
<br/>
<div th:if="${file != null}">
    <center>
        <table class="table table-hover table-sm">
            <thead class="table-dark">
            <tr>
                <th scope="col">File Name</th>
                <th scope="col">Creation Time</th>
                <th scope="col">Last Modified</th>
                <th scope="col">Size</th>
                <th scope="col">Description</th>
                <th scope="col">User First Name</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="fileInfo : ${file}">
                <td th:text="${fileInfo.fileName}"></td>
                <td th:text="${#dates.format(fileInfo.fileCreationTimestamp, 'yyyy-MM-dd hh:mm a')}"></td>
                <td th:text="${#dates.format(fileInfo.fileUpdateTimestamp, 'yyyy-MM-dd hh:mm a')}"></td>
                <td th:text="${fileInfo.readableFileSize}"></td>
                <td th:text="${fileInfo.description}"></td>
                <td th:text="${fileInfo.userFirstName}"></td>
                <td>
                    <list class="list-inline">
                        <li class="list-inline-item">
                            <form method="post" th:action="@{/deleteAdminFile}">
                                <input type="hidden" name="hiddenUserId" th:value="${fileInfo.userId}">
                                <input type="hidden" name="hiddenFileName" th:value="${fileInfo.fileName}"/>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-trash"></i></button>
                            </form>
                        </li>
                    </list>
                </td>
            </tr>
            </tbody>
        </table>
    </center>
</div>

</body>
</html>